
@font-face {
  font-family: 'Gibson-Regular';
  src: url('Gibson-Regular.eot?#iefix') format('embedded-opentype'),  url('Gibson-Regular.woff') format('woff'), url('Gibson-Regular.ttf')  format('truetype'), url('Gibson-Regular.svg#Gibson-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
