
@font-face {
  font-family: 'Apertura-Bold';
  src: url('Apertura-Bold.eot?#iefix') format('embedded-opentype'),  url('Apertura-Bold.otf')  format('opentype'),
	     url('Apertura-Bold.woff') format('woff'), url('Apertura-Bold.ttf')  format('truetype'), url('Apertura-Bold.svg#Apertura-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
